<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheer.bbs.dao.TitleDao">

    <!--//查询List集合-->

    <select id="getTitList" resultType="com.cheer.bbs.pojo.Titles">
        select * from titles
    </select>


    <select id="getTitById" resultType="com.cheer.bbs.pojo.Titles">
        select * from titles where id=#{id}
    </select>

    <insert id="insertTitles" >
        insert into titles value(default ,#{cname}, #{title}, #{message},#{date},#{comment})
    </insert>


    <select id="selectNewTitle" resultType="java.lang.Integer">
        select MAX(id)  FROM titles
    </select>
    <select id="getTitleListByCname" resultType="com.cheer.bbs.pojo.Titles">
        select * from titles where cname=#{cname}
    </select>
    <!--查询帖子对应回复数-->
    <select id="selectcommentNumByid" resultType="java.lang.Integer">
       select count(*) from titles join messages  on titles.id = messages.tid
        WHERE titles.id=#{tid};
    </select>

    <!--搜索帖子功能-->
    <select id="searchTitles" resultType="com.cheer.bbs.pojo.Titles">
        select * from titles where title like "%"#{tit}"%"
    </select>


    <update id="update">
        update titles
        <trim prefix="set" suffixOverrides=",">
            <if test="cname!=null">
                cname=#{cname},
            </if>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="message!=null">
                message=#{message}
            </if>
            <if test="date!=null">
                message=#{date}
            </if>
        </trim>
        where id=#{id}
    </update>

    <delete id="delete">
        delete from titles where id=#{id}
    </delete>

</mapper>
